table {
    border-collapse:collapse;
}
th.narrow {
    width:5px;
}
th.wide {
    width:80px;
}
td.line {
    background-color:black;
}
td {
    padding:2px;
}
td:empty {
    padding:0;
}
tr:nth-child(odd) {
    height:5px;
}
td:nth-child(-n+7) {  /* first 7 cels in a row */
    text-align:left;
}
td:nth-child(n+9) {  /* last 7 cels in a row */
    text-align:right;
}
#champion {
    text-align:center;
}
html {
    margin:0 auto;
    max-width:700px;
}
